# ==================
# - FTP CONNECTION -
# ==================

FTP_UNAME = '<username-ftp-account>' 
FTP_PW = '<password-ftp-account>'
FTP_HOST = 'ftpupload.net'
FTP_PORT = '21'
FTP_DIR = 'ftp://ftpupload.net/komen.site.je/htdocs/'


# =================
# - CONFIGURATION -
# =================

STOR_LIMIT_MB = '5'